<table>
  <th>Description</th>
  <th>Point person</th>
  <th>Hours left</th>
  <th></th>
  <th></th>
  <%= render :partial => 'task', :collection => tasks %>
  
  <% if @new_task and @new_task.feature == feature %>
    <%= render :partial => 'task_form', :object => @new_task %>
  <% elsif !@edit_task && !@new_task %>
    <%= link_to 'Add', new_sprint_task_path(:feature_id => feature.id) %>
  <% end %>
</table>