<section id="backlog">
  <header>
    <h1>Sprints</h1>
    <p></p>
  </header>
  <% form_for(@sprint) do |form| %>
  <table>
    <tr><td>Name:</td><td><%= form.text_field :name %></td></tr>
  </table>
  <%= form.submit 'Save' %>
  <% end %>
  <%= button_to 'Cancel', sprints_path, :method => 'get' %>
</section>