%section#backlog
  %header
    %h1 Sprints
    %p

  - form_for(@sprint, :url => sprints_path) do |form|
    %table
      %tr
        %td Name:
        %td
          = form.text_field :name 
    = form.submit 'Add'
  = button_to 'Cancel', sprints_path, :method => 'get' 
