<section id="backlog">
  <header>
    <div class="points" id="committed_effort"><%= @sprint.committed_effort %></div>
    <h1><%= @sprint.name %></h1>
    <p><%= link_to 'Back to overview', sprints_path %></p>
  </header>
  <%= render :partial => 'features', :object => @sprint.features %>
</section>