<!DOCTYPE html>
<html>
<head>
  <title>Yougu</title>
  <%= stylesheet_link_tag 'common' %>
  <%= javascript_include_tag 'jquery-1.3.2.min' %>
  <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min' %>
</head>
<body>
  <%= yield %>
</body>
</html>